<span class="multiCheckBox">
	<span class="label columnSpan">${label}:</span>
	<span dojoattachpoint="leftCheckColumnNode" class="column left">
	</span>
	<span dojoattachpoint="rightCheckColumnNode" class="column right">
	</span>
	<span class="clear"></span>
</span>