<span class="radioButton">
	<input dojoType="dijit.form.RadioButton" name="${name}" checked="${checked}" value="${value}"/>
	<label for="${name}" dojoattachpoint="labelNode" class="label">${label}</label>
</span>