<span class="textBox">
	<label for="${name}" dojoattachpoint="labelNode" class="label"></label>
	<input type="text" dojoType="dijit.form.ValidationTextBox" name="${name}" required="${required}" promptMessage="${promptMessage}" dojoattachpoint="textBoxNode"/>
</span>