<span class="textArea">
	<label for="${name}" dojoattachpoint="labelNode" class="label">${label}:</label>
	<textarea cols="25" dojoType="dijit.form.Textarea" name="${name}" data-dojo-props="placeHolder:${placeHolder}" dojoattachpoint="textBoxNode"></textarea>
</span>