<div class="content">
	<div class="section header">
	
		<img src="images/Logo.gif" alt="GiftIt" class="head"/>
		
		<div class="links">
			<a href="giftjabber.html#form">Gift Form |</a><a href="feedback.html"> Feedback |</a><a href="donate.html"> Donate</a>
		</div>
	</div>
	<div class="section top">
	
		<h1>Always give the perfect gift.</h1>
		<br>
	
		<div id="headerimage">
			<img src="images/Logo1.gif" alt="GiftIticon" class="logo1"/>
		</div>
		<h2>Never Worry About What to Give Again</h2>
		<p>In three steps you can find the perfect present for anyone. All you have to do is:</p>
		<div id="indentation">
			<p>1. Fill out the form below.</p>
			<p>2. Get email suggestions shortly after.</p>
			<p>3. Purchase perfect gift.</p>
		</div>
		<h2>It's as easy as that, and it's free!</h2>
	
	</div>
	<div class="section main">
		<div>
			<h1>
				<a name="form">Gift Form</a>
			</h1>
			<p>
				Most of the choices are optional, but the more information you give us the better the gift we can find you.
			</p>
			<br>
			<div><em>*</em> Required</div>
		</div>
		<div dojoattachpoint="formNode">
			<span dojoattachpoint="leftFormColumnNode" class="column left">
				<span dojoType="common.TextFormElement"
				required="true"
				name="name"
				label="Your Name"
				promptMessage="John Smith">
				</span>
				<span dojoType="common.TextFormElement"
				label="Price Range"
				name="price"
				regExp="'\\d+'"
				promptMessage="$20">
				</span>
				<span dojoType="common.RadioButtonsElement"
				name="gender"
				label="Their Gender"
				values = 'Male, Female'>
				</span>
				<span dojoType="common.TextFormElement"
				label="Their Relationship to You"
				name="relationship"
				promptMessage="Sister">
				</span>
				<span dojoType="common.TextAreaFormElement"
				label="Their Interests"
				name="interests"
				placeHolder="Climbing, cooking, reading, drawing, and whiskey.">
				</span>
			</span>
			<span dojoattachpoint="rightFormColumnNode" class="column right">
				<span dojoType="common.TextFormElement"
				required="true"
				name="email"
				label="Your Email"
				description="(your email will not be shared with anyone)"
				regExp="'[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,4}'"
				promptMessage="JSmith@gmail.com">
				</span>
				<span dojoType="common.TextFormElement"
				label="Their Job"
				name="job"
				promptMessage="Nurse">
				</span>
				<span dojoType="common.MultiCheckElement"
				label="Their Personality"
				checkElements= 'Practical, Adventurous, Environmental, Youthful, Athletic, Romantic, Quirky, Scientific, Traditional, Lively'>
				</span>
				<span dojoType="common.TextFormElement"
				label="Their Age"
				name="age"
				regExp="'\\d+'"
				promptMessage="30">
				</span>
				<span dojoType="common.TextFormElement"
				label="Their Color Preference"
				name="color"
				promptMessage="Periwinkel">
				</span>
			</span>
			<span class="clear"></span>
			<span dojoType="dijit.form.Button"
				name = 'submit'
	        	type = 'submit'
	        	value = 'Submit'
	        	label = "Giftjabber!">
			</span>
		</div>
	</div>
</div>