body {
    background-image: url("../images/bkg.jpg");
}
h1 {
    color: #55E807;
    font-size: 250%;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    text-transform: capitalize;
}
h2 {
    color: #000000;
    font-size: 110%;
    text-transform: capitalize;
}
p1 {
    color: #444444;
    font-size: 12px;
    text-shadow: 0 0 0 #000000;
}
em {
    color: red;
}
.section {
	color: black;
    font-family: 'Helvetica','FreeSans','Arial',sans-serif;
    line-height: 1.5em;
    max-width: 800px;
    padding: 30px;
    position: relative;
    text-align: left;
    text-shadow: 1px 1px 1px #AAAAAA;
	border-radius: 10px;
    width: 70%;
}
.header {
    margin: 10px auto;
    padding: 0 30px;
}
.top {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 10px auto;
    min-height: 400px;
}
.main {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 50px auto;
    min-height: 400px;
}
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #333333;
}
a:active {
    color: #333333;
}
.links {
    float: right;
    left: 0;
    position: relative;
    top: 40px;
}
#tiny {
    font-size: 70%;
    position: absolute;
    text-align: right;
    width: 90%;
}
.textArea{
	display: block;
	float: left;
}
.textBox{
	display: block;
	float: left;
}
.right{
	float: right;
}
.left{
	float: left;
}
.column{
	width: 50%;
	display: block;
}
.clear{
	display: block;
	clear: both;
}
.checkBox {
	display: block;
}
.radioButton {
	display: block;
}
.radioButtons {
	display: block;
	float: left;
	width:100%;
}
.textBox .label {
	display: block;
}
.textArea .label {
	display: block;
}
.label {
	width:100%;
    font-size: 130%;
    position: relative;
}
.large {
    font-size: 90%;
    position: relative;
}
.head {
	height: 70px;
    left: -20px;
    position: relative;
    top: 0;
    z-index: 10;
}
img.logo1{
    width: 300px; 
}
.columnSpan{
	width: 100%;
	display: block;
	float: left;
}
.columnSpan{
	float: right;
}
#headerimage {
    float: left;
    margin-right: 40px;
}
#indentation {
    text-indent: 20px;
}